@use '/src/styles/common/index' as *;
@use '/src/components/search/search';
@use '/src/components/header/header';
body {
   width: 22.5rem;
   height: 100vh;
   display: flex;
   flex-flow: column;
   align-items: center;
   border: none;
}
header {
   margin-bottom: 5.5rem;
}
h1 {
   font-size: 1.5rem;
   margin-bottom: 1rem;
}
