@use '/src/styles/common/index' as *;
@use '/src/components/search/search';
@use '/src/components/header/header';
body {
   height: 40rem;
   padding: 0 1.25rem 0 1.25rem;
}
.search__container {
   display: flex;
   flex-flow: column;
}
.header {
   margin-bottom: 5.5rem;
}
h1 {
   font-size: 1.5rem;
   margin-bottom: 1rem;
}
