<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      <link rel="stylesheet" href="./reviewCard.scss" />
   </head>
   <body>
      <div class="review--container">
         <figure class="review--card">
            <figcaption class="review--card__title">
               <span>가게 위치</span>
               <span>상호명</span>
            </figcaption>
         </figure>

         <figure class="review--card">
            <figcaption class="review--card__title">
               <span class="no-image-span">"이미지가 없는 카드의 멘트"</span>
               <span>가게 위치</span>
               <span>상호명</span>
            </figcaption>
         </figure>
      </div>
   </body>
</html>
