@use '/src/styles/common/index' as *;
@use '/src/components/button/button';
body {
   width: 22.5rem;
   height: 40rem;
   display: flex;
   flex-flow: column;
   align-items: center;
   // button.scss 바디에 border 속성이 있어 일단 추가.
   border: none;
}
.logo {
   display: flex;
   flex-flow: column;
   &__text {
      margin-top: 6.25rem;
      margin-bottom: 8.3125rem;
   }
   &__img {
      margin-bottom: 4.5rem;
   }
}

.temp-container {
   display: flex;
   flex-flow: row;
   a {
      margin: 1rem;
      padding: 0.5rem 0.4rem;
      border-radius: 0.5rem;
      color: white;
      background-color: $primary-50;
   }
}
