@import url('/src/styles/_reset.scss');

.share__container {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 80%;
   margin: 0 auto;
   background-color: #f8f9fa;
   border-radius: 1rem;
   padding: 2rem 0;

   &--title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.3rem;
      margin-bottom: 1.8rem;
      font-weight: bold;
   }
   &--icons {
      padding: 0;
      width: 80%;
      display: flex;
      justify-content: space-between;
   }
}

.share__icons--icon {
   width: 6rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 1rem;
   color: rgb(67, 67, 67);
   border: none;
   background-color: inherit;
}
.share__icons--link {
   width: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 0.8rem;
   background-color: white;
   padding: 0.6rem 0.3rem;
   border-radius: 1rem;
   border: 0.05rem solid lightgrey;
}

.share__icons--image {
   width: 80%;
}

.share__copy-url {
   width: 80%;
   justify-content: space-between;
   display: flex;
   background-color: white;
   border-radius: 1rem;
   border: solid 0.8px lightgrey;
   margin-top: 1.8rem;

   &--add {
      color: #4997ec;
      padding: 0.8rem 0.5rem;
   }
   &--btn {
      padding: 0.8rem 0.5rem;
      background-color: #f4f4f5;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      color: #78787a;
      border: 0rem solid #78787a;
   }
}
