@use '/src/styles/common/index' as *;

.share__container {
   width: 17.875rem;
   margin: 0 auto;
   border-radius: 0.5rem;
   border: 0.0625rem solid $gray-30;
   background-color: $gray-0;
   &--title {
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.875rem;
   }
}
button {
   background: none;
   border: none;
   padding: 0;
}

.header {
   display: flex;
   justify-content: space-between;
   border-bottom: $gray-70;
   padding: 0.5rem 1rem;
   border-bottom: 1px solid $gray-30;

   & button {
      background: none;
      border: none;
      padding: 0;
      line-height: 1.875rem;
      font-size: 1.25rem;
   }
}

.share__container--icons {
   display: flex;
   justify-content: space-between;
   gap: 0.5rem;
   padding: 2rem 1rem;
}

.share__icons--link {
   width: 3.5rem;
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   justify-content: space-between;
   align-items: center;
   font-size: 0.75rem;
   font-weight: 500;
   color: $gray-70;
}
