<!doctype html>
<html lang="ko">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>share component</title>
      <link rel="stylesheet" href="/src/components/share/share.scss" />
      <script
         src="https://kit.fontawesome.com/0d62736544.js"
         crossorigin="anonymous"
      ></script>
   </head>
   <body>
      
      <div class="share__container" roll="grope">

         <header class="header">
            <h1 class="share__container--title">공유하기</h1>
            <div class="header__btn">
               <button type="button" class="header__btn--right-exit" aria-label="닫기">
                  <i class="fa-solid fa-x header__btn--icon"></i>
               </button>
            </div>
         </header>

         <div
            class="share__container--icons"
            role="group"
            aria-label="Button Group"
         >
            <button type="button" class="share__icons--icon" aria-label="블로그 이동하기">
               <a href="_" class="share__icons--link">
                  <img class="share__icons--image" src="_" alt="로고" />
               
               <span>블로그</span>
            </a>
            </button>
            <button type="button" class="share__icons--icon" aria-label="카카오톡 이동하기">
               <a href="_" class="share__icons--link">
                  <img class="share__icons--image" src="_" alt="로고" />
               
               <span>카카오톡</span>
            </a>
            </button>
       
            <button type="button" class="share__icons--icon" aria-label="페이스북 이동하기">
               <a href="_" class="share__icons--link">
                  <img class="share__icons--image" src="_" alt="로고" />
               <span>페이스북</span>
            </a>
            </button>
      
            <button type="button" class="share__icons--icon" aria-label="링크복사">
               <a href="_" class="share__icons--link">
                  <img class="share__icons--image" src="_" alt="로고" />
               <span>링크복사</span>
            </a>
            </button>
     
      </div>
   </body>
</html>
