@use '/src/styles/common/index' as *;


// 버튼 기본 구성
.btn__link{
  color: inherit;
  text-align: center;
  box-sizing: border-box;
  font-family: "Pretendard GOV Variable";
  font-weight: 400;
}

.btn__input{
  border: none;
  font-family: "Pretendard GOV Variable";
  font-weight: 400;
}


// 사이즈 커스텀
.btn--large{
  font-size: 1.1875rem;
  border-radius: .5rem;
  padding: 1.3438rem
}

.btn--small{
  font-size: .9375rem;
  border-radius: .375rem;
  padding: .9063rem;
}


// 길이 커스텀
.btn-default{
  width: 20rem;
}

.btn-short1{
  width: 18rem;
}

.btn-short2{
  width: 16.5rem;
}

.btn-extra-short{
  width: 7.5rem;
}


// 상태 커스텀
.btn-p--default{
  background: $primary-50;
  color: $gray-0;
}

.btn-p--disabled{
  background: $gray-30;
  color: $gray-60;
}

.btn-s--default{
  background: $primary-5;
  color: $primary-60;
  border: .0625rem solid $primary-50;
}

.btn-t--default{
  background: $gray-0;
  color: $gray-90;
  border: .0625rem solid $gray-90;
}

.btn-t--default-red{
  background: $gray-0;
  color: $danger;
  border: .0625rem solid $gray-90;
}