<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous"/>
  <link rel="stylesheet" href="button.scss" />
</head>
<body>

  <a href="/" class="main__btn main__btn--blue  btn__start--blue btn__start">시작하기</a>

  <button type="submit" class="main__btn main__btn--blue btn__login">로그인</button>

  <a href="/" class="main__btn main__btn--white btn__signup--link">회원가입</a>

  <button type="submit" class="main__btn main__btn--blue btn__signup--submit">회원가입</button>


  <button type="submit" class="btn__review--write">리뷰 작성하기</button>


  
  <a href="/" class="btn__placecheck--no" >이 장소가 아니에요</a>
 
  <button type="submit" class="btn__placecheck--submit">
    <span></span>
    <p>이 장소가 맞아요</p>
  </button>


  <button type="submit" class="btn__review--next">다음</button>

  <button type="submit" class="btn__review--add">등록</button>
  
  <a href="/" class="btn__review--link">
    <span></span>
    리뷰작성하기
  </a>

  <button type="submit" class="btn__profile--save">저장하기</button>

</body>
</html>