<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>button-component</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous"/>
  <link rel="stylesheet" href="/src/components/button/button.scss" />
</head>
<body>

<!-- 
  [버튼 커스텀]
    => 원하는 커스텀 클래스 이름 추가하기

    1. 버튼 종류 (필수)
      btn__link
      btn__input

    2. 색상 (필수)
      btn--blue
      btn--gray
      btn--w-blue
      btn--w-black
      btn--w-red

    3. 두께 (선택) _미 선택시 기본 상태 적용
      btn--slim

    4. 길이 (선택) _미 선택시 기본 상태 적용
      btn--short
      btn--extra-short
  -->


  <a href="/" class="btn__link">링크</a>
  
  <button type="submit" class="btn__input">입력</button>

</body>
</html>