<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>button-component</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous"/>
  <link rel="stylesheet" href="/src/components/button/button.scss" />
</head>
<body>

<!-- 

  [버튼 커스텀]
    => 원하는 커스텀 클래스 이름 추가하기(모두 필수 속성)

    1. 버튼 종류 (링크, 정보를 보내는 버튼)
      btn__link
      btn__input

    2. 사이즈 (버튼 높이)
      btn--large
      btn--small

    3. 길이 (버튼 길이)
      btn-default
      btn-short1
      btn-short2
      btn-extra-short

    4. 상태 (버튼, 폰트 색상) => 피그마 시안 type-state
      btn-p--default
      btn-p--disabled
      btn-s--default
      btn-t--default
      btn-t--default-red

  -->


  <a href="/" class="btn__link">링크</a>

  <button type="submit" class="btn__input">입력</button>

</body>
</html>