@import url('/src/styles/_reset.scss');

body{
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding: 2rem;
}

main__btn{
  width: 20rem;

  
}

// main__btn--blue{

// }

// main__btn--white{

// }