<!doctype html>
<html lang="ko">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>review-tag component</title>
      <meta charset="UTF-8" />
      <link
         rel="stylesheet"
         href="/src/components/review-tag/review-tag.scss"
      />
   </head>
   <body>
      <div class="review-tag" role="group" aria-label="재료가 신선해요">
         <p>🥦 재료가 신선해요</p>
      </div>

      <div class="review-tag" role="group" aria-label="양이 많아요">
         <p>🍚 양이 많아요</p>
      </div>

      <div class="review-tag" role="group" aria-label="음식이 맛있어요">
         <p>😋 음식이 맛있어요</p>
      </div>

      <div class="review-tag" role="group" aria-label="가성비가 좋아요">
         <p>👍 가성비가 좋아요</p>
      </div>

      <div class="review-tag" role="group" aria-label="특별한 메뉴가 있어요">
         <p>🍷 특별한 메뉴가 있어요</p>
      </div>
   </body>
</html>
