<!DOCTYPE html>
<html lang="ko">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=\, initial-scale=1.0" />
      <link rel="stylesheet" href="logo.scss" />
      <title>logo-component</title>
   </head>
   <body>
      <!-- 링크 필요 로고 -->
      <a href="/" class="logo__component">
         <img src="/assets/sample.png" alt="109 place 로고 이미지" class="logo__img" />
         <h1 class="logo__name">109 PLACE</h1>
      </a>

      <!-- 링크 안 필요한 로고 -->
      <!-- <div class="logo__component">
         <img src="/assets/sample.png" alt="109 place 로고 이미지" class="logo__img" />
         <div class="logo__name">109 PLACE</div>
      </div> -->
   </body>
</html>
