<!DOCTYPE html>
<html lang="ko">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>logo-component</title>
      <link rel="stylesheet" href="logo.css" />
   </head>
   <body>
      <div class="input-container">
         <label for="username">아이디</label>
         <input
            type="text"
            id="username"
            name="username"
            placeholder="아이디를 입력해주세요"
            required
         />
      </div>
   </body>
</html>
