@import url('/styles/_reset.scss');

.logo {
   &__component {
      display: block;
      text-decoration-line: none;
      width: 12.38rem;
      height: 7.63rem;
      text-align: center;
      svg {
         width: 2.625rem;
         height: 3.4375rem;
      }
   }
   &__name {
      // 변수 빼기
      font-size: 2.25rem;
      font-weight: bold;
      // 변수 빼기
      color: #246beb;
   }
}
