@use '/src/styles/common/index' as *;
/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */
.header {
   display: flex;
   height: 3.5rem;
   padding: 0rem 0.5rem 0rem 1rem;
   justify-content: start;
   align-items: center;
   flex: 1 0 0;
}
.svg-icon {
   width: 2.5rem;
   height: 2.5rem;
}
/* -------------------------------------------------------------------------- */
/*                                   section                                  */
/* -------------------------------------------------------------------------- */

.review-detail__section {
   position: relative;
}
.article {
   padding: 0 1.25rem;
}
.profile__user-name {
   overflow: hidden;
   color: var(--gray-90, #1d1d1d);
   text-overflow: ellipsis;
   font-family: 'Pretendard GOV Variable';
   font-size: 1.25rem;
   font-style: normal;
   font-weight: 600;
   line-height: 1.75rem;
}

.review__detail--ficture {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width: 22.5rem;
   height: 16.875rem;
   background-color: gray;
   position: relative;
}
.review-detail__swipe-container {
   position: absolute;
   display: flex;
   justify-content: space-between;
   align-items: center;
   top: 7.6875rem;
   left: 1rem;
   right: 1rem;

   svg {
      width: 2rem;
      height: 2rem;
   }
}
.review-detail__parent-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 1rem;
}
.review-detail__store-container {
   display: flex;
   align-items: center;
   p {
      color: var(--gray-90, #1d1d1d);
      font-family: 'Pretendard GOV Variable';
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
   }
   svg {
      width: 1.25rem;
      height: 1.25rem;
   }
}
.review-detail__icon-container {
   position: relative;
   svg {
      width: 1.5rem;
      height: 1.5rem;
   }
}
.review-detail__store-info {
   border-bottom: 0.0625rem solid var(--gray-10, #f0f0f0);
   display: flex;
   gap: 0.25rem;
   align-items: center;

   svg {
      width: 0.1875rem;
   }
   p {
      color: var(--gray-60, #717171);
      font-family: 'Pretendard GOV Variable';
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
   }
}
.review-detail__review-info {
   display: flex;
   align-items: center;
   gap: 0.25rem;
   p {
      color: var(--gray-90, #1d1d1d);
      font-family: 'Pretendard GOV Variable';
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 18px */
   }
   svg {
      width: 0.1875rem;
   }
}
#review-detail__waiting-time {
   color: var(--gray-60, #717171);
}
.review-detail-content {
   color: var(--gray-70, #555);
   font-family: 'Pretendard GOV Variable';
   font-size: 0.875rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%; /* 21px */
}

.review-tag {
   margin-top: 0.5rem;
   display: inline-flex;
   background-color: $gray-5;
   align-items: center;
   border-radius: 0.125rem;
   color: $gray-70;
   margin-bottom: 0.25rem;
   padding: 0.25rem;
   margin-right: 0.25rem;
   font-size: 0.75rem;
   vertical-align: center;
}

button {
   background: none;
   border: none;
   padding: 0;
}
.button-container {
   display: none;
   width: 5.5rem;
   flex-direction: column;
   align-items: flex-start;

   border-radius: 0.5rem;
   border: 0.0625rem solid var(--gray-30, #d8d8d8);
   background: var(--Color, #fff);
   box-shadow: 0rem 0.125rem 0.125rem 0rem rgba(0, 0, 0, 0.12);

   position: absolute;
   right: 0rem;

   bottom: -9rem;
   &__btn {
      display: flex;
      padding: 12px;
      align-items: center;
      gap: 4px;
      align-self: stretch;
      border-bottom: 1px solid var(--gray-10, #f0f0f0);
      &--text {
         color: var(--gray-gray-90, #1d1d1d);
         font-family: 'Pretendard GOV Variable';
         font-size: 0.875rem;
         font-style: normal;
         font-weight: 400;
         line-height: 150%; /* 21px */
      }
      &--text-red {
         color: var(--danger, #eb003b);
      }
   }
}

.more-btn {
   position: relative;
}

/* -------------------------------------------------------------------------- */
/*                                    share                                   */
/* -------------------------------------------------------------------------- */

.share__container {
   display: none;
   z-index: 5;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   position: absolute;
   width: 17.875rem;
   margin: 0 auto;
   border-radius: 0.5rem;
   border: 0.0625rem solid $gray-30;
   background-color: $gray-0;

   &--title {
      font-size: 1.25rem;
      font-weight: 600;
      // line-height: 1.875rem;
   }
}

.share__header {
   border-bottom: 1px solid $gray-30;
}

.svg-icon {
   width: 2.5rem;
   height: 2.5rem;
}

.right-exit {
   margin-left: auto;
   &__icon {
      width: 1.5rem;
      height: 1.5rem;
   }
}

.share__container--icons {
   display: flex;
   justify-content: space-between;
   gap: 0.5rem;
   padding: 2rem 1rem;
}

.share__icons--link {
   width: 3.5rem;
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   justify-content: space-between;
   align-items: center;
   font-size: 0.75rem;
   font-weight: 500;
   color: $gray-70;

   svg {
      width: 2rem;
      height: 2rem;
   }
}

.delete-container {
   display: none;
   position: absolute;

   z-index: 5;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 18.5rem;

   border-radius: 0.5rem;
   border: 0.0625rem solid var(--gray-30, #d8d8d8);
   background: var(--Color, #fff);

   color: var(--gray-gray-90, #1d1d1d);
   text-overflow: ellipsis;
   font-family: 'Pretendard GOV Variable';
   font-size: 1.0625rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;

   &__text {
      display: flex;
      padding: 2rem 1.5rem 1.5rem 1.5rem;
      align-items: center;
      gap: 0.625rem;
      align-self: stretch;
      overflow: hidden;
   }
   &__btn-container {
      display: flex;
      padding: 0rem 1.5rem 1rem 1.5rem;
      justify-content: flex-end;
      align-items: center;
      gap: 0.5rem;
      align-self: stretch;
   }
   button {
      display: flex;
      height: 40px;
      padding: 0px 12px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      flex: 1 0 0;
      border-radius: 6px;
   }
   .cancel-btn {
      border: 1px solid var(--gray-gray-90, #1d1d1d);
      background: var(--gray-gray-0, #fff);
   }
   .delete-btn {
      background: var(--primary-50, #246beb);
      color: var(--gray-gray-0, #fff);
   }
}
.active {
   display: block;
}
