@import url('/styles/_reset.scss');

body{
  width: 20rem;
}

.nav{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.nav__link{
  text-align: center;
}

.nav__icon{
  color: #181818;
  font-size: 1.8rem;
  padding: 0.2rem;
}

.nav__text{
  margin: 0;
  font-size: 0.9rem;
}