@import url('/src/styles/_reset.scss');

body{
  width: 25rem;
}

.nav{
  display: flex;
  justify-content: space-around;

  &__link{
    text-align: center;
    padding: 1rem;
    
    text-decoration: none;
    color: inherit;

    &:hover{
      border-top: 0.2rem solid #181818;
      padding-top: 1rem - 0.2rem;
    }
  }

  &__icon{
    color: #181818;
    font-size: 1.8rem;
    padding: 0.2rem;
  }

  &__text{
    margin: 0;
    font-size: 0.9rem;
  }
}
