/* Color styles */
$primary-5: #eff5ff;
$primary-10: #d3e1fb;
$primary-20: #a7c4f7;
$primary-30: #7ca6f3;
$primary-40: #5089ef;
$primary-50: #246beb;
$primary-60: #1d56bc;
$primary-70: #16408d;
$primary-80: #0e2b5e;
$primary-90: #07152f;
$gray-0: #ffffff;
$gray-5: #f8f8f8;
$gray-10: #f0f0f0;
$gray-20: #e4e4e4;
$gray-30: #d8d8d8;
$gray-40: #c6c6c6;
$gray-50: #8e8e8e;
$gray-60: #717171;
$gray-70: #555555;
$gray-80: #2d2d2d;
$gray-90: #1d1d1d;
$gray-100: #000000;
