<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      <link rel="stylesheet" href="./alert.scss" />
   </head>
   <body>
      <div class="modal">
         <p class="modal__text">리뷰를 삭제하시겠습니까?</p>
         <div class="modal__confirm">
            <button class="modal__confirm__btn">취소</button>
            <button class="modal__confirm__btn">삭제</button>
         </div>
      </div>
   </body>
</html>
