<!doctype html>
<html lang="ko">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>header component</title>
      <link rel="stylesheet" href="/src/components/header/header.scss" />
      <script
         src="https://kit.fontawesome.com/0d62736544.js"
         crossorigin="anonymous"
      ></script>
   </head>
   <body>
      <header class="header">
         <button aria-label="뒤로가기">
            <svg role="img" aria-label="뒤로가기" class="svg-icon">
               <use href="/src/assets/stack.svg#top_before_arrow" />
            </svg>
         </button>

         <button aria-label="닫기" class="right-exit">
            <svg role="img" aria-label="닫기" class="svg-icon right-exit__icon">
               <use href="/src/assets/stack.svg#Close" />
            </svg>
         </button>
      </header>

      <!-- 뒤로가기와 나가기 버튼이 버튼이 함께있는 헤더 -->

      <header class="header">
         <button aria-label="뒤로가기">
            <svg role="img" aria-label="뒤로가기" class="svg-icon">
               <use href="/src/assets/stack.svg#top_before_arrow" />
            </svg>
         </button>
      </header>

      <!-- 뒤로가기만있는 버튼 -->

      <header class="header">
         <button aria-label="닫기" class="right-exit">
            <svg role="img" aria-label="닫기" class="svg-icon right-exit__icon">
               <use href="/src/assets/stack.svg#Close" />
            </svg>
         </button>
      </header>

      <!-- x만 있는 버튼 -->
   </body>
</html>
