@use '/src/styles/common/index' as *;

.header {
   width: 100%;
   display: flex;
   justify-content: space-between;

   & button {
      background: none;
      border: none;
      padding: 0;
   }
}
.svg-icon {
   width: 2.5rem;
   height: 2.5rem;
}

.right-exit {
   margin-left: auto;
   &__icon {
      width: 1.5rem;
      height: 1.5rem;
      padding: 1rem;
   }
}
