<!DOCTYPE html>
<html lang="ko">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>herder components</title>
      <link rel="stylesheet" href="header.css" />
      <script
         src="https://kit.fontawesome.com/0d62736544.js"
         crossorigin="anonymous"
      ></script>
   </head>
   <body>
      <!-- 
    <header class="header">
         <div class="header__container--btn">
            <button class="header__exitbtn">
               <i class="fa-solid fa-arrow-left"></i>
            </button>
            <button class="header__backBtn">
               <i class="fa-solid fa-x"></i>
            </button>
         </div>
      </header> -->

      <!-- 뒤로가기와 나가기 버튼이 버튼이 함께있는 헤더 -->
      <!-- 
      <header class="header">
         <div class="header__container--btn">
            <button class="header__leftBackBtn">
               <i class="fa-solid fa-chevron-left"></i>
            </button>
         </div>
      </header> -->

      <!-- 뒤로가기만있는 버튼 -->

      <!--
       <header class="header">
         <div class="header__container--btn">
            <button class="header__rightExitBtn">
               <i class="fa-solid fa-x"></i>
            </button>
         </div>
      </header> -->

      <!-- x만 있는 버튼 -->

      <header class="header">
         <div class="header__container--btn">
            <button class="header__leftBackBtn">
               <i class="fa-solid fa-chevron-left"></i>
            </button>
            <button class="header__rightExitBtn">
               <i class="fa-solid fa-x"></i>
            </button>
         </div>
      </header>

      <!-- '< ' 모양 뒤로가기와 나가기버튼 -->
   </body>
</html>
