@import url('/styles/_reset.scss');

.header {
   padding: 1rem;
}
.header__container--btn {
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.header__container--btn button {
   background: none;
   border: none;
   padding: 0;
}
.fa-solid {
   font-size: 1.2rem;
}

.header__rightExitBtn {
   margin-left: auto;
}
