@use '/src/styles/common/index' as *;
body {
   display: flex;
   justify-content: center;
}
.input-count {
   &__component {
      position: relative;
      width: 18rem;
      height: auto;
   }
   &__label {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 1rem;
   }
   &__input {
      margin-top: 1rem;
      padding: 1rem;
      border-radius: 1rem;
      border: 1px solid $gray-60;
      resize: none;
      box-sizing: border-box;
      width: 100%;
      height: 9rem;
      font-size: 1.0625rem;
      overflow-y: auto;
      margin-bottom: 0.75rem;
      &::placeholder {
         font-size: 1.0625rem;
      }
      &::-webkit-scrollbar {
         display: none;
      }
   }
   &__c-container {
      position: absolute;
      right: 0.625rem;
      font-size: 0.9375rem;
   }
   &__count {
      color: $primary-50;
   }
}
