<!doctype html>
<html lang="ko">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script type="module" src="/src/components/input-count/input-count.html"></script>
      <title>input-count-component</title>
   </head>
   <body>
      <div class="input-count__component">
         <textarea
            class="input-count__input"
            placeholder="리뷰를 작성해주세요!"
         ></textarea>
         <div class="input-count__count">0 / 400</div>
      </div>
   </body>
</html>