@use '/src/styles/common/index' as *;

body{
  width: 22.50rem;
  height: 40rem;

  display: flex;
  flex-flow: column;
  gap: 2rem;
}


// 링크 검색창
.search-link{
  border: 0.1rem solid $gray-50;
  border-radius: 0.4rem;
  width: 16rem;

  color: inherit;
  font-size: 0.82rem;
  color: $gray-50;

  display:flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.58rem 0.7rem;
}


// 실제 검색창
.search-form{
  border: 0.1rem solid $gray-50;
  border-radius: 0.4rem;

  display: inline-flex;
  padding: 0;
  width: 19rem;

  &__input{
    padding: 0.9rem 0.7rem;
    width: 19rem;
    border: none;
    background-color: transparent;

    &:focus{
      outline: none;
    }
  }
    
  &:focus-within{
    border: 0.1rem solid $primary-50;
  }

  &__btn{
    border: none;
    background-color: transparent;

    padding-right: 0.8rem;
  }
}