@use '/src/styles/common/index' as *;


@mixin font($color,$font-family,$font-size,$font-weight) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}


// 링크 검색창
.search-link{
  box-sizing: border-box;
  padding: .75rem 1rem;
  border-radius: .5rem;
  border: .0625rem solid $gray-60;
  width: 20rem;

  display:flex;
  justify-content: space-between;
  align-items: center;

  &__text{
    @include font($gray-60, "Pretendard GOV Variable", 1.0625rem, 400);
  }
}


// 실제 검색창
.search-form{
  box-sizing: border-box;
  display: inline-flex;
  border: .0625rem solid $gray-60;
  border-radius: .5rem;
  padding: .65rem 1rem;
  width: 17.75rem;

  &__input{
    width: 14rem;
    border: none;
    background-color: transparent;
    @include font($gray-90, "Pretendard GOV Variable", 1.0625rem, 400);

    &::-webkit-input-placeholder {
      @include font($gray-60, "Pretendard GOV Variable", 1.0625rem, 400);
    }
    &::-ms-input-placeholder {
      @include font($gray-60, "Pretendard GOV Variable", 1.0625rem, 400);
    }
    &::placeholder {
      @include font($gray-60, "Pretendard GOV Variable", 1.0625rem, 400);
    }


    &:focus{
      outline: none;
    }
  }
    
  &:focus-within{
    border: .125rem solid $primary-50;
  }

  &__btn{
    border: none;
    background-color: transparent;
    padding: 0;
  }
}