@use '/src/styles/common/index' as *;

.nav{
  display: flex;
  justify-content: space-around;
  box-shadow: 0rem -0.125rem .1875rem 0rem $gray-40;

  &__link{
    text-align: center;
    padding: .4375rem 2.8rem 0.2rem 2.8rem;
    // color: inherit;
  }

  &__icon{
    inline-size: 1.5rem;
    block-size: 1.5rem;
  }

  &__text{
    color: $gray-60;
    font-family: "Pretendard GOV Variable";
    font-size: .75rem;
    font-weight: 500;
  }
}