@use '/src/styles/common/index' as *;


.nav{
  display: flex;
  justify-content: space-around;
  box-shadow: 0 -4px 6px -4px $gray-60;

  &__link{
    text-align: center;
    padding: 0.5rem 2.8rem 0.2rem 2.8rem;
    color: inherit;
  }

  &__text{
    font-size: 0.75rem;
  }
}
