@use '/src/styles/common/index' as *;
@use '/src/components/header/header';
@use '/src/components/review-tag/review-tag';

// header 스타일링

.header{
  align-items: center;

  span{
    font-size: 1.25rem;
    font-weight: 600;
  }
}


// section 스타일링

.place-info-container{
  padding: 0 1.25rem;
}


// 가게 이미지
.place-img-container{
  display: flex;
  width: 100%;
  gap: 0.2rem;
}

.container{
  width: 50%;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.container2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.2rem;

  img{
    aspect-ratio: 1;
  }
}


//장소 세부 정보
.place-info{
  font-family: "Pretendard GOV Variable";

  &__title{
    display: flex;
    align-items: center;

    padding-top: 1.5rem;
    gap: .5rem;
  }

  &__title > h1{
    font-size: 1.25rem;
    font-weight: 700;
  }

  &__category{
    font-size: .8125rem;
    font-weight: 400;
    color: $gray-60;

    padding-top:.0625rem;
  }

  &__reviews{
    font-size: .875rem;
    font-weight: 400;
    color: $gray-70;

    padding: .75rem 0;
  }


  &__details > li{
    display: flex;
    gap: .25rem;
    align-items: center;

    padding: .25rem;
  }

  &__details{
    font-size: .875rem;
    font-weight: 400;
    color: $gray-70;

    padding: .5rem 0 .75rem 0;
  }

  &__icon--small{
    inline-size: .6667rem;
    block-size: .6667rem;
  }

  &__icon--medium{
    inline-size: 1.5rem;
    block-size: 1.5rem;
  }
}

.action-bar{
  padding: .5rem 1.25rem;

  display: flex;
  gap: 2.5rem;

  p{
    font-size: 12px;
    font-weight: 500;
    color: $gray-80;
    padding-top: .1875rem;
  }
}

.action-bar > button{
  width: 100%;
  border: none;
  background-color: transparent;
}


// 리뷰 통계 섹션
.review-analysis{
  padding: 1rem 1.25rem;
}


.section-header{
  display: flex;
  justify-content: space-between;
  padding-bottom: .75rem;
}

.review-tag-container{
  display: flex;
  flex-flow: column;
  gap: .25rem;
}

.review-tag{
  background: $gray-5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: .375rem;

  position: relative;

  &--ratio{
    background: $primary-10;
    padding: 1.125rem 0;
    border-radius: .375rem;

    width:10%;
  }

  &__name{
    font-size: .875rem;
    font-weight: 500;

    position:absolute;
    top: 30%;
    left: 2.5%;
  }

  &--count{
    font-size: .75rem;
    font-weight: 500;
    color: $primary-50;
  }
}


//리뷰 - 헤더
.place-reviews__header{
  padding: 1rem 1.25rem;
}

.review-filter__btn{
  display: flex;
  justify-content: space-between;

  padding-top: 1.25rem;
}


//리뷰 - 작성자 프로필
.user-profile > a{
  display: flex;
  align-items: center;
  gap: .5rem;

  img{
    border-radius: 50%;
    width: 2.5rem;
  }

  figcaption{
    font-size: .875rem;
    font-weight: 700;
    color: $gray-90;

    padding-bottom: .25rem;
  }

  p{
    font-size: .75rem;
    font-weight: 500;
    color: $gray-50;
  }
}

.user-profile{
  display: flex;
  padding-left: 1.25rem;
}

// 리뷰 사진 - 스와이퍼
.swiper {
  width: 100%;
  padding: .75rem 0 .5rem 1.25rem;
}

.swiper-slide > img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 1.75rem;
}

// 리뷰 - 텍스트
.review-text{
  padding: 0 1.25rem;

  display:flex;
  flex-flow: column;
  gap: .5rem;

  &__visit-detail{
    font-size: .75rem;
    font-weight: 400;
    color: $gray-90;

    display: flex;
    gap: .25rem;
    align-items: center;
  }

  &__visit-detail > .fixed-text{
    color: $gray-60;
  }

  &__content{
    font-size: .875rem;
    font-weight: 400;
    color: $gray-70;
  }

  &__tag{
    display:flex;
    gap: .25rem;
    flex-wrap: wrap;
    width: 60%;
  }

}

.dot-separator{
   width: .1875rem;
   height: .1875rem;
   background: $gray-30;
   border-radius: 50%;
}

// 장식용 선
.decorative-line--light{
  width: 100%;
  height: .0625rem;
  background: $gray-10;
}

.decorative-line--bold{
  width: 100%;
  height: .5rem;
  background: $gray-10;
}
