@import url('/styles/_reset.scss');

.reviewTag {
   display: inline-flex;
   background-color: #ebebee;
   align-items: center;
   border-radius: 0.5rem;
   color: #555558;
   margin-bottom: 0.3rem;

   div {
      padding: 0.3rem;
   }
   .reviewTag__emoji {
      padding: 0 0.3rem 0 0.8rem;
   }
   .reviewTag__text {
      padding-right: 0.8rem;
   }
}
