<!doctype html>
<html lang="ko">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>reviewTag component</title>
      <meta charset="UTF-8" />
      <link rel="stylesheet" href="/src/components/reviewTag/reviewTag.scss" />
   </head>
   <body>
      <div class="reviewTag" role="grope">
         <img
            src="/src/assets/images/Broccoli.svg"
            alt="브로콜리"
            class="reviewTag__emoji"
         />
         <p class="reviewTag__text">재료가 신선해요</p>
      </div>

      <div class="reviewTag" role="grope">
         <img
            src="/src/assets/images/Cooked Rice.svg"
            alt="공기밥"
            class="reviewTag__emoji"
         />
         <p class="reviewTag__text">양이 많아요</p>
      </div>

      <div class="reviewTag" role="grope">
         <img
            src="/src/assets/images/Face Savoring Food.svg"
            alt="웃는 얼굴"
            class="reviewTag__emoji"
         />
         <p class="reviewTag__text">음식이 맛있어요</p>
      </div>

      <div class="reviewTag" role="grope">
         <img
            src="/src/assets/images/Thumbs Up Light Skin Tone.svg"
            alt="엄지척"
            class="reviewTag__emoji"
         />
         <p class="reviewTag__text">가성비가 좋아요</p>
      </div>

      <div class="reviewTag" role="grope">
         <img
            src="/src/assets/images/Wine Glass.svg"
            alt="와인"
            class="reviewTag__emoji"
         />
         <p class="reviewTag__text">특별한 메뉴가 있어요</p>
      </div>
   </body>
</html>
