<html lang="ko-KR">
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="reviewTag.scss" />

   <div class="reviewTag">
      <div class="reviewTag__emoji">😜</div>
      <div class="reviewTag__text">음식이 맛있어요</div>
   </div>

   <div class="reviewTag">
      <div class="reviewTag__emoji">💗</div>
      <div class="reviewTag__text">친절해요</div>
   </div>

   <div class="reviewTag">
      <div class="reviewTag__emoji">🌱</div>
      <div class="reviewTag__text">재료가 신선해요</div>
   </div>

   <div class="reviewTag">
      <div class="reviewTag__emoji">🍚</div>
      <div class="reviewTag__text">양이 많아요</div>
   </div>

   <div class="reviewTag">
      <div class="reviewTag__emoji">👀</div>
      <div class="reviewTag__text">매장이 넓어요</div>
   </div>
</html>
